@charset "utf-8";

/*Paleta de cores
#536B26 verde 
#D68D43 marron meio que dourado
#C6467D  rosa
#b91440 um verelho vinho

 background-color: rgba(252, 234, 211, 0.652);
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    background-image: linear-gradient(to top, #D68D43, #b91440, #C6467D);
    

}
main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
section#login{
    color: #d41d4e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 221, 183);
    width: 250px;
    height: 500px;
    border-radius: 40px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.17);
    transition: width .3s, heigth .3s; /*Nesse caso, a mudancas ocorrerão de forma não tão repentina, levará esse tempo em segudos para que ocorra*/
    transition-timing-function: ease; /*Nesse caso temos transições mais suaves.*/
}
section#login > div#infeite{
    background: #d41d4e url(../imagens/pexels-felix-mittermeier-2832074\ \(1\).jpg);
    background-size: cover;
    background-position: top center;
    height: 200px;
    display: block;
    border-radius: 40px 40px 0px 0px;
}
section#login > div#ola{
   padding: 10px;
   display: block;
   background-color: white;
   height: 250px;

}
section#login div#ola  h1{    
    font-size: 1.5em;
    margin-bottom: 7px;

}
section#login div#ola  p{
    font-size: 12px;
    margin-bottom: 7px;
   
}
section#login div#ola form{
    font-size: 10px;
    padding: 3px 0px 5px 10px;
}
section#login div#ola form input{
    border-radius: 40px;
    border-color: #D68D43;
    
}

section#login > div#ola input[type= text], input[type= password]{
    font-size: 12px;
    padding: 6px 3px 6px 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}
form input[type= submit]{
    margin: 3px auto 25px auto;
    display: block;
    font-size: 1em;
    width: 50%;
    padding: 6px;
    color:  white;
    background-color: #b66413;
    
}


section#login div#ola form p#esqueci{
       text-align: center;
    }

    
section#login div#ola form p#esqueci span{
   color: #b66413;
   
}


form input[type= submit]:hover{
    background-color: #D68D43;
   
}

form label{
    display: none;
}
form a.botao{
    text-decoration: none;
    color: #d41d4e;
}
form a.botao:hover{
   color: #9a0c32;
}


